name: CI/CD GitHub Hosted

# Run only on pushes to master
on:
  push:
    branches:
      - master

jobs:
  build-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Docker Hub Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Docker Image
        run: |
          docker build -t funmicra/greek-encoder:latest .

      - name: Push Docker Image
        run: |
          docker push funmicra/greek-encoder:latest